Repository v8tenko/phtml: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier-package-json --write

.lintstagedrc.json:

{
	"*.{json,md}": ["prettier --write", "git add"],
	"*.{js,ts,d.ts}": ["prettier --write", "eslint --fix", "git add"],
	"**/package.json": ["prettier-package-json --write", "git add"]
}

chore: update; unstable
  .eslintrc.js
  index.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app/index.ts
  src/app/package.json
  src/app/render/render.ts
  src/app/src/parsers/jsx.ts
  src/app/src/typings/Node.d.ts
  src/app/src/validators/DOMNodeValidators.ts
  src/app/src/validators/index.ts
  src/app/tsconfig.json
  src/packages/utils/index.ts
  src/packages/utils/package.json
  src/packages/utils/src/assert.ts
  src/packages/utils/src/index.ts
  src/packages/utils/src/pick.ts
  src/packages/utils/tsconfig.json
  src/packages/vdom/package.json
  src/packages/vdom/src/node/Node.ts
  src/packages/vdom/tsconfig.json
  src/shared/utils/package.json
  tsconfig.json
Due: prettier --write, eslint --fix, prettier-package-json --write

feat: add readme
  README.md
Due: prettier --write

feat: add dev-server
  package.json
  pnpm-lock.yaml
  src/app/index.ts
  src/app/package.json
  src/app/tsconfig.json
  src/packages/dev-server/index.ts
  src/packages/dev-server/package.json
  src/packages/dev-server/src/findTSModules.ts
  src/packages/dev-server/src/runCommandAsPromise.ts
  src/packages/dev-server/src/startModule.ts
  src/packages/dev-server/src/startProject.ts
  src/packages/dev-server/src/typings.d.ts
  src/packages/dev-server/tsconfig.json
  src/packages/utils/src/pick.ts
  src/packages/utils/tsconfig.json
  tsconfig.json
  tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix, prettier-package-json --write

feat: unstable build, webpack
  package.json
  pnpm-lock.yaml
  src/app/.babelrc
  src/app/package.json
  src/app/public/index.html
  src/app/src/index.ts
  src/app/webpack.config.js
  src/packages/dev-server/src/startModule.ts
  src/packages/phtml/index.ts
  src/packages/phtml/package.json
  src/packages/phtml/src/parsers/jsx.ts
  src/packages/phtml/src/typings/Node.d.ts
  src/packages/phtml/src/validators/DOMNodeValidators.ts
  src/packages/phtml/src/validators/index.ts
  src/packages/phtml/tsconfig.json
  src/packages/utils/src/pick.ts
Due: prettier --write, eslint --fix, prettier-package-json --write

Create webpack.yml
  .github/workflows/webpack.yml
Due: none

chore: test actions
  src/app/src/index.ts
Due: prettier --write, eslint --fix

chore: unstable deploy
  .github/workflows/webpack.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  src/app/webpack.config.js
  src/packages/deploy-to-server/index.ts
  src/packages/deploy-to-server/package.json
  src/packages/deploy-to-server/src/branch.ts
  src/packages/deploy-to-server/src/deploy.ts
  src/packages/deploy-to-server/src/execCommand.ts
  src/packages/deploy-to-server/tsconfig.json
  src/packages/monorepo/index.ts
  src/packages/monorepo/package.json
  src/packages/monorepo/src/findTSModules.ts
  src/packages/monorepo/src/runCommandAsPromise.ts
  src/packages/monorepo/src/startModule.ts
  src/packages/monorepo/src/startProject.ts
  src/packages/monorepo/src/typings.d.ts
  src/packages/monorepo/start.ts
  src/packages/monorepo/tsconfig.json
Due: prettier --write, eslint --fix, prettier-package-json --write

fix: remove replace custom function with node
  src/packages/monorepo/src/findTSModules.ts
  src/packages/monorepo/src/runCommandAsPromise.ts
  tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix

fix: update workflow
  .github/workflows/webpack.yml
Due: none

fix: add pnpm to workflow
  .github/workflows/webpack.yml
Due: none

fix: deploy
  package.json
  src/packages/deploy-to-server/package.json
Due: prettier --write, prettier-package-json --write

fix: update pnpm
  .github/workflows/webpack.yml
Due: none

feat: remove bad patterns, migrate to vite
  .eslintrc.js
  .eslintrc.json
  .github/workflows/webpack.yml
  package.json
  pnpm-lock.yaml
  src/app/index.html
  src/app/index.ts
  src/app/package.json
  src/app/src/vite-env.d.ts
  src/app/vite.config.js
  src/app/webpack.config.js
  src/packages/deploy-to-server/index.ts
  src/packages/deploy-to-server/package.json
  src/packages/deploy-to-server/src/branch.ts
  src/packages/deploy-to-server/src/deploy.ts
  src/packages/deploy-to-server/src/execCommand.ts
  src/packages/deploy-to-server/tsconfig.json
  src/packages/monorepo/index.ts
  src/packages/monorepo/package.json
  src/packages/monorepo/src/findTSModules.ts
  src/packages/monorepo/src/startModule.ts
  src/packages/monorepo/src/startProject.ts
  src/packages/monorepo/src/typings.d.ts
  src/packages/monorepo/start.ts
  src/packages/monorepo/tsconfig.json
  src/packages/vdom/package.json
  tsconfig.json
Due: prettier --write, eslint --fix, prettier-package-json --write

fix: fix build
  src/packages/phtml/package.json
  src/packages/utils/package.json
  src/packages/vdom/index.ts
  src/packages/vdom/package.json
Due: prettier --write, eslint --fix, prettier-package-json --write

fix: change runner
  .github/workflows/webpack.yml
Due: none

fix: chande node version
  .github/workflows/webpack.yml
Due: none

feat: vdom
  .eslintrc.json
  pnpm-lock.yaml
  src/app/index.html
  src/app/index.ts
  src/app/src/counter.ts
  src/app/src/parsers/jsx.ts
  src/app/src/typings/Node.d.ts
  src/app/src/validators/DOMNodeValidators.ts
  src/app/src/validators/index.ts
  src/app/tsconfig.json
  src/packages/vdom/.babelrc
  src/packages/vdom/index.ts
  src/packages/vdom/package.json
  src/packages/vdom/src/node/Node.ts
  src/packages/vdom/src/node/node.spec.ts
  src/packages/vdom/src/node/setup.ts
  src/packages/vdom/src/render/mount.ts
  src/packages/vdom/src/render/patch.ts
  src/packages/vdom/src/state/state.ts
  src/packages/vdom/src/typings/Node.d.ts
  src/packages/vdom/tsconfig.json
Due: prettier --write, eslint --fix, prettier-package-json --write

feat: unstable jsx parser
  pnpm-lock.yaml
  src/app/index.ts
  src/app/src/counter.ts
  src/app/tsconfig.json
  src/packages/phtml/src/counter.tsx
  src/packages/phtml/src/parsers/jsx.ts
  src/packages/phtml/src/typings/Node.d.ts
  src/packages/phtml/src/validators/DOMNodeValidators.ts
  src/packages/phtml/src/validators/index.ts
  src/packages/vdom/.babelrc
  src/packages/vdom/index.ts
  src/packages/vdom/jest.config.js
  src/packages/vdom/package.json
  src/packages/vdom/src/node/Node.ts
  src/packages/vdom/src/node/node.spec.ts
  src/packages/vdom/src/render/mount.ts
  src/packages/vdom/src/render/patch.ts
  src/packages/vdom/src/typings/jsx.d.ts
  src/packages/vdom/tsconfig.json
Due: prettier --write, eslint --fix, prettier-package-json --write

feat: add use state hook
  .eslintrc.json
  pnpm-lock.yaml
  src/app/index.ts
  src/app/src/counter.ts
  src/packages/phtml/index.ts
  src/packages/phtml/src/counter.tsx
  src/packages/phtml/src/hooks/hooks.states.d.ts
  src/packages/phtml/src/hooks/useState.ts
  src/packages/phtml/src/phtml/phtml.ts
  src/packages/phtml/src/typings/globals.d.ts
  src/packages/phtml/tsconfig.json
  src/packages/utils/src/array.ts
  src/packages/utils/src/assert.ts
  src/packages/utils/src/index.ts
  src/packages/vdom/.babelrc
  src/packages/vdom/index.ts
  src/packages/vdom/package.json
  src/packages/vdom/src/node/Node.ts
  src/packages/vdom/src/node/node.spec.ts
  src/packages/vdom/src/render/mount.ts
  src/packages/vdom/src/render/patch.ts
  src/packages/vdom/src/state/state.ts
  src/packages/vdom/src/typings/Node.d.ts
  src/packages/vdom/src/typings/jsx.d.ts
  src/packages/vdom/src/typings/node.ts
  src/packages/vdom/tsconfig.json
Due: prettier --write, eslint --fix, prettier-package-json --write

feat: add jsx support, render fix
  .eslintrc.json
  README.md
  pnpm-lock.yaml
  src/app/.babelrc
  src/app/index.ts
  src/app/package.json
  src/app/src/counter.ts
  src/app/src/counter.tsx
  src/app/src/help.tsx
  src/app/src/typings/globals.d.ts
  src/app/tsconfig.json
  src/app/vite.config.js
  src/packages/phtml/src/hooks/hooks.state.d.ts
  src/packages/phtml/src/hooks/useState.ts
  src/packages/phtml/src/phtml/phtml.ts
  src/packages/vdom/jsx-runtime.ts
  src/packages/vdom/src/node/Node.ts
  src/packages/vdom/src/node/node.spec.ts
  src/packages/vdom/src/render/mount.ts
  src/packages/vdom/src/render/patch.ts
  src/packages/vdom/src/typings/node.ts
Due: prettier --write, eslint --fix, prettier-package-json --write

fix: remove console.log, change dist path
  .eslintrc.json
  src/app/src/counter.tsx
  src/app/src/help.tsx
  src/app/src/list.tsx
  src/app/vite.config.js
  src/packages/phtml/src/phtml/phtml.ts
Due: prettier --write, eslint --fix

fix: remove config
  src/app/vite.config.js
Due: prettier --write, eslint --fix

fix: lock
  pnpm-lock.yaml
Due: none

feat: add useMemo hook
  pnpm-lock.yaml
  src/app/package.json
  src/app/src/counter.tsx
  src/packages/phtml/index.ts
  src/packages/phtml/package.json
  src/packages/phtml/src/hooks/hooks.state.d.ts
  src/packages/phtml/src/hooks/index.ts
  src/packages/phtml/src/hooks/useMemo.ts
  src/packages/phtml/src/hooks/useState.ts
  src/packages/phtml/src/phtml/phtml.ts
Due: prettier --write, eslint --fix, prettier-package-json --write

fix: update readme
  README.md
Due: prettier --write

fix: stable rendering, sample application
  README.md
  pnpm-lock.yaml
  src/app/index.ts
  src/app/reset.css
  src/app/src/components/List.tsx
  src/app/src/components/Todo.tsx
  src/app/src/components/TodoCard.tsx
  src/app/src/components/styles.css
  src/app/src/counter.tsx
  src/app/src/typings/globals.d.ts
  src/app/tsconfig.json
  src/packages/phtml/package.json
  src/packages/phtml/src/hooks/useMemo.ts
  src/packages/phtml/src/typings/globals.d.ts
  src/packages/utils/src/array.ts
  src/packages/utils/src/index.ts
  src/packages/utils/src/isEqual.ts
  src/packages/vdom/src/node/Node.ts
  src/packages/vdom/src/node/synthetic.ts
  src/packages/vdom/src/render/patch.ts
  src/packages/vdom/src/typings/node.ts
Due: prettier --write, eslint --fix, prettier-package-json --write

fix: remove type cast
  src/packages/phtml/src/phtml/phtml.ts
  src/packages/vdom/src/node/synthetic.ts
  src/packages/vdom/src/render/patch.ts
Due: prettier --write, eslint --fix

feat: new render; add key support
  .eslintrc.json
  pnpm-lock.yaml
  src/app/index.html
  src/app/index.tsx
  src/app/package.json
  src/app/src/components/DynamicList.tsx
  src/app/src/components/Item.tsx
  src/app/src/components/List.tsx
  src/app/src/components/Todo.tsx
  src/app/src/components/TodoCard.tsx
  src/app/src/components/styles.css
  src/packages/phtml/src/hooks/useState.ts
  src/packages/phtml/src/phtml/phtml.ts
  src/packages/utils/src/array.ts
  src/packages/utils/src/assert.ts
  src/packages/utils/src/diff.ts
  src/packages/utils/src/index.ts
  src/packages/utils/src/indexed.ts
  src/packages/utils/src/invoke.ts
  src/packages/utils/src/isNull.ts
  src/packages/vdom/index.ts
  src/packages/vdom/jsx-runtime.ts
  src/packages/vdom/src/node/Node.ts
  src/packages/vdom/src/node/synthetic.ts
  src/packages/vdom/src/render/mount.ts
  src/packages/vdom/src/render/patch.dom.ts
  src/packages/vdom/src/render/patch.ts
  src/packages/vdom/src/typings/node.d.ts
  src/packages/vdom/src/typings/node.ts
Due: prettier --write, eslint --fix, prettier-package-json --write

Update README.md
  README.md
Due: prettier --write

feat: unstable useEffect support
  src/app/index.tsx
  src/app/src/components/DynamicList.tsx
  src/app/src/components/Item.tsx
  src/app/src/components/TodoList.tsx
  src/app/src/components/index.css
  src/packages/phtml/index.ts
  src/packages/phtml/src/hooks/hooks.state.d.ts
  src/packages/phtml/src/hooks/index.ts
  src/packages/phtml/src/hooks/useEffect.ts
  src/packages/phtml/src/phtml/phtml.ts
  src/packages/utils/src/index.ts
  src/packages/utils/src/promise.ts
  src/packages/vdom/src/node/Node.ts
Due: prettier --write, eslint --fix

fix: remove useless css file
  src/app/src/components/index.css
Due: none

feat: stable render
  README.md
  package.json
  src/app/src/components/DynamicList.tsx
  src/app/src/components/Item.tsx
  src/app/src/typings/globals.d.ts
  src/packages/phtml/index.ts
  src/packages/phtml/src/hooks/hooks.state.d.ts
  src/packages/phtml/src/hooks/index.ts
  src/packages/phtml/src/hooks/useEffect.ts
  src/packages/phtml/src/phtml/phtml.ts
  src/packages/phtml/src/typings/globals.d.ts
  src/packages/phtml/src/typings/phtml.d.ts
  src/packages/phtml/src/typings/setup.ts
  src/packages/utils/src/from.ts
  src/packages/utils/src/index.ts
  src/packages/utils/src/isNull.ts
  src/packages/utils/src/unique.ts
  src/packages/vdom/index.ts
  src/packages/vdom/src/node/Node.ts
  src/packages/vdom/src/node/synthetic.ts
  src/packages/vdom/src/render/patch.ts
  src/packages/vdom/src/typings/node.d.ts
Due: prettier --write, eslint --fix, prettier-package-json --write

feat: unstable fragments support
  README.md
  src/app/src/components/DynamicList.tsx
  src/app/src/components/Item.tsx
  src/packages/phtml/src/phtml/phtml.ts
  src/packages/phtml/src/typings/globals.d.ts
  src/packages/phtml/src/typings/phtml.d.ts
  src/packages/utils/src/index.ts
  src/packages/utils/src/types.ts
  src/packages/vdom/index.ts
  src/packages/vdom/jsx-runtime.ts
  src/packages/vdom/src/node/Node.ts
  src/packages/vdom/src/node/node.dom.ts
  src/packages/vdom/src/render/mount.ts
  src/packages/vdom/src/render/patch.dom.ts
  src/packages/vdom/src/render/patch.ts
  src/packages/vdom/src/typings/node.d.ts
Due: prettier --write, eslint --fix

feat: change version
  src/packages/phtml/package.json
Due: prettier --write, prettier-package-json --write

fix: remove private from utils
  src/packages/vdom/package.json
Due: prettier --write, prettier-package-json --write

fix: remove private from utils
  src/packages/utils/package.json
Due: prettier --write, prettier-package-json --write

fix: update version of utils
  src/packages/utils/package.json
Due: prettier --write, prettier-package-json --write
