Repository v8tenko/phtml: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier-package-json --write

fix: pls work
  pnpm-lock.yaml
  src/packages/phtml/package.json
Due: prettier --write, prettier-package-json --write

fix: change workspace to npm
  pnpm-lock.yaml
  src/packages/phtml/package.json
Due: prettier --write, prettier-package-json --write

fix: ahahahahah
  src/app/package.json
  src/packages/phtml/package.json
  src/packages/vdom/package.json
Due: prettier --write, prettier-package-json --write

feat: phtml plugin (rofl)
  README.md
  pnpm-lock.yaml
  src/app/.babelrc
  src/app/package.json
  src/app/vite.config.js
  src/packages/vite-plugin-phtml/package.json
  src/packages/vite-plugin-phtml/plugin.ts
  src/packages/vite-plugin-phtml/tsconfig.json
Due: prettier --write, eslint --fix, prettier-package-json --write

feat: new plagin
  pnpm-lock.yaml
  src/app/package.json
  src/packages/utils/package.json
  src/packages/utils/src/isEqual.ts
  src/packages/vite-plugin-phtml/package.json
  src/packages/vite-plugin-phtml/plugin.ts
Due: prettier --write, eslint --fix, prettier-package-json --write

fix: fix tsconfig reference
  src/packages/vite-plugin-phtml/package.json
  src/packages/vite-plugin-phtml/tsconfig.json
Due: prettier --write, prettier-package-json --write

fix: change deps
  pnpm-lock.yaml
  src/packages/vite-plugin-phtml/package.json
  src/packages/vite-plugin-phtml/plugin.d.ts
  src/packages/vite-plugin-phtml/plugin.js
  src/packages/vite-plugin-phtml/tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix, prettier-package-json --write

fix: pls work
  src/packages/vite-plugin-phtml/package.json
Due: prettier --write, prettier-package-json --write

fix: change root node, refactor
  src/app/index.tsx
  src/app/src/components/App.tsx
  src/app/src/components/DynamicList.tsx
  src/packages/vdom/package.json
  src/packages/vdom/src/node/Node.ts
  src/packages/vdom/src/node/node.dom.ts
  src/packages/vdom/src/render/mount.ts
  src/packages/vdom/src/render/patch.dom.ts
Due: prettier --write, eslint --fix, prettier-package-json --write

feat: update
  src/app/package.json
  src/packages/phtml/package.json
Due: prettier --write, prettier-package-json --write

fix: clear
  src/packages/vite-plugin-phtml/plugin.d.ts
  src/packages/vite-plugin-phtml/tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix

fix: clear
  src/packages/vite-plugin-phtml/plugin.js
Due: prettier --write, eslint --fix

fix: remove comments, change readme
  README.md
  src/packages/vdom/src/render/patch.ts
Due: prettier --write, eslint --fix

fix: sync lock
  pnpm-lock.yaml
  src/packages/vite-plugin-phtml/plugin.d.ts
  src/packages/vite-plugin-phtml/plugin.js
  src/packages/vite-plugin-phtml/tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix

fix: update tsconfig
  src/packages/vite-plugin-phtml/plugin.d.ts
  src/packages/vite-plugin-phtml/tsconfig.json
  src/packages/vite-plugin-phtml/tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix

fix: vercel change
  src/app/vite.config.js
  src/packages/vite-plugin-phtml/plugin.ts
  src/packages/vite-plugin-phtml/tsconfig.json
Due: prettier --write, eslint --fix

chore: wtf???
  src/packages/vdom/index.ts
  src/packages/vdom/jsx-runtime.ts
  src/packages/vdom/src/render/mount.ts
  src/packages/vdom/src/render/patch.ts
Due: prettier --write, eslint --fix

chore: rename node
  src/packages/vdom/index.ts
  src/packages/vdom/jsx-runtime.ts
  src/packages/vdom/src/render/mount.ts
  src/packages/vdom/src/render/patch.ts
Due: prettier --write, eslint --fix

fix: резня
  .DS_Store
  src/.DS_Store
  src/packages/.DS_Store
  src/packages/vdom/.DS_Store
  src/packages/vdom/src/.DS_Store
  src/packages/vdom/src/node/Node.ts
Due: prettier --write, eslint --fix

fix: remove node back
  src/packages/vdom/src/node/node.ts
Due: prettier --write, eslint --fix

fix: ignore update
  .DS_Store
  .gitignore
  src/.DS_Store
  src/app/.DS_Store
  src/packages/.DS_Store
  src/packages/phtml/src/vdom/.DS_Store
Due: none

feat: refactor, that sucks
  README.md
  src/app/reset.css
  src/app/src/components/App.tsx
  src/app/src/components/Calc.tsx
  src/app/src/components/Item.tsx
  src/packages/phtml/index.ts
  src/packages/phtml/jsx-runtime.ts
  src/packages/phtml/src/hooks/hooks.state.d.ts
  src/packages/phtml/src/hooks/useEffect.ts
  src/packages/phtml/src/hooks/useMemo.ts
  src/packages/phtml/src/hooks/useState.ts
  src/packages/phtml/src/phtml.ts
  src/packages/phtml/src/phtml/phtml.ts
  src/packages/phtml/src/typings/phtml.d.ts
  src/packages/phtml/src/vdom/index.ts
  src/packages/phtml/src/vdom/node/common.ts
  src/packages/phtml/src/vdom/node/component.ts
  src/packages/phtml/src/vdom/node/create.ts
  src/packages/phtml/src/vdom/node/fragment.ts
  src/packages/phtml/src/vdom/node/list.ts
  src/packages/phtml/src/vdom/node/node.spec.ts
  src/packages/phtml/src/vdom/node/node.ts
  src/packages/phtml/src/vdom/node/primitive.ts
  src/packages/phtml/src/vdom/node/pure.ts
  src/packages/phtml/src/vdom/node/syntetic.ts
  src/packages/phtml/src/vdom/render/mount.ts
  src/packages/phtml/src/vdom/render/patch.dom.ts
  src/packages/phtml/src/vdom/render/patch.ts
  src/packages/phtml/src/vdom/typings/node.d.ts
  src/packages/phtml/src/vdom/typings/node.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.{js,ts,d.ts})
  eslint --fix: any of: *.{js,ts,d.ts}
  prettier-package-json --write: any of: **/package.json
